*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-size: 14px;
    color: forestgreen;
    font-weight: 400;
    background-color: #fafafa;
    font-family: Arial ,sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 15%;
}
.liheader{
    list-style: none;
    font-weight: 700;
    float: left;
    line-height: 70px;
    padding: 0 10px;
    color: forestgreen;
}
.link{
    color: forestgreen;
}
.link:hover{
    color: #ffa500;
}
.header{
    line-height: 70px;
    background-color: #ffffff;
    text-align: center;
}
.logo{
    float: left;
    width: 25%;
    height: 70px;
}
.type{
    float: right;
    width: 75%;
    padding-left: 140px;
}
.head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.main{
    height: 500px
}
